*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;
  --danger: #ff5959;
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;
  --shape-bg: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --font-leckerli: "Leckerli One",cursive;
  --font-baloo: "Baloo 2", sans-serif;
  --font-open: "Open Sans", sans-serif;

  --logo: 400 2.5rem var(--font-leckerli);
  --head-md: bold 1.75rem var(--font-baloo);
  --head-sm: bold 1.125rem var(--font-baloo);
  --body-md: 600 1rem var(--font-open);
  --body-sm: 600 .875rem var(--font-open);
  --body-xs: 600 .75rem var(--font-open);
}

html{
  background-color: var(--shape-bg);
  padding: 1.25rem;
  color: var(--text-heading);
  font-family: var(--font-open);
}

h1,h2,h3,h4{
  color: var(--text-heading);
  font-family: var(--font-baloo);
}

h1{
  font: var(--logo);
  color: var(--pink);
}

input,textarea{
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  width: 100%;
  padding: 13px 1rem;

  color: var(--text-body);
  font: var(--body-md);
  font-weight: 400;
}

input::placeholder {
  display: flex;
  align-items: center;
  color: var(--input-placeholder);
  opacity: 1;

}

input:checked, input:focus, input:hover{
  border: 1px solid var(--brand-light);
  outline: 1px solid var(--brand-light);
}

textarea{
  min-height: 10rem;
  resize: vertical;
}

textarea:checked, textarea:focus, textarea:hover{
  border: 1px solid var(--brand-light);
  outline: 1px solid var(--brand-light);
}